<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="~{main-layout.html}">

<body>
    <div layout:fragment="content">
        <br/>
        <p style="text-align: center; font-size: larger">
            Witaj!
        </p>

        <p style="text-align: center; font-size: medium">
            Miło jest mi Ciebie gościć na stronie będącej przykładem napisanego przeze mnie projektu.<br/>
            Projekt ten docelowo ma być galerią ślubną z możliwością przesyłania zdjęć przez gości.<br/>
            Następnie dodana będzie możliwość zamawiania wybranych zdjęć przez gości.<br/>
            Aby mieć pewność, że zdjęcia trafiają do odpowiednich osób takie zamówienie będzie najpierw<br/>
            weryfikowane przez administratora.<br/>
            Pomysłów jest o wiele więcej i będą one sukcesywnie dodawane i publikowane.
        </p>
    </div>
</body>
</html>
